<! — “Child Template” →
{% extends "base.html" %}
{% block content %}
<form style="margin-left:25%;padding:1px 16px;" action="/item" method="post">
   Item Name: <input type="text" name="name"><br>
   Item description: <input type="text" name="description"><br>
   Item Category: <select id="country" name="category_name">
     {% for category in categories %}
       <option value="{{ category }}">{{ category }}</option>
     {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>
{% endblock %}
