<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Catalog App</title>
    <link rel="stylesheet" href="static/styles.css">

  </head>
  <body>
    <h1>Catalog App</h1>
    <ul>
       <li><a href="default.asp">Home</a></li>
       <li><a href="news.asp">Add Category</a></li>
       <li><a href="news.asp">Add Item</a></li>
       {% if "name" in user %}
          <li class="bg-red"><a href="/logout">Logout {{ user.name }}</a></li>
      {% else %}
          <li class="bg-red"><a href="/login">Login</a></li>
      {% endif %}
    </ul>
    <h1>Catalog App</h1>
    <div style="margin-left:25%;padding:1px 16px;">
      <div class="row">
      <div class="column left" style="background-color:#aaa;">
        <h2>Categories</h2>
        {% for category in categories %}
          <p>{{ category }}</p>
        {% endfor %}
      </div>
      <div class="column right" style="background-color:#bbb;">
        <h2>Latest Items</h2>
        {% for item in recent_items %}
          <p>{{ item }}</p>
        {% endfor %}
      </div>
    </div>
    </div>
  </body>
</html>
